$heading-primary: 2.8rem;
$heading-secundary: 2.5rem;
$heading-tertiary: 1.5rem;

$border-primary: 4px;

$color-primary: #03010c;
// $color-secundary: #fff;
$color-secundary: rgb(204, 26, 35);
$color-tertiary: #fff;
$color-quaternary : #dddddd;
$color--quinar :rgba(#000, .2);
$color--senary: #d81515;
$color--septenary : #5db833;
$color--octonary : rgba(#000, .2);

$color--disabled-backgroud: #a7a7a7e8;
$color--disabled-font: #c2c2c2e8;

$color--error-primary: #a52e2e;

$color-shadow-primary: 0 4px 4px rgba(#000, .2);
$color-shadow-secundary: 0 0px 10px rgba(#000, .3);

$color-light-shadow-primary: 0 -1px 10px rgba(#c9c7c7, 1);
$color-light-shadow-secundary: 0 -1px 10px rgba(#c9c7c7, .3);


$heading-primary: 2.8rem;
$heading-secundary: 2.5rem;
$heading-tertiary: 1.5rem;